@import "../../../../../../../variables";

.categorie-box {
  background-color: $off-white;
  padding: 40px;
  min-width: 200px;
  max-width: 320px;
  min-height: 820px;
  .categorie-list-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .categorie-list {
    display: flex;
    justify-content: space-between;
  }

  .categorie-list:hover {
    color: $light-green;
    cursor: pointer;
  }

  .price-slider {
    margin-top: 50px;
  }

  .banner {
    width:100%;
    margin-top: 50px;

    img {
      width: 100%;
    }
  }
}
