@import url(./ProductCheckout/ProductCheckout.scss);
@import url(./ProductCheckoutAddress/ProductCheckoutAddress.scss);

.checkout-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}