@import "../../../../../../../../variables";

.product-boxes-wrapper {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
  .product-box {
    background-color: $off-white;
    max-width: 260px;
    max-height: 300px;

    .img-container {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .product-price {
    color: $green;
    font-weight: 600;
  }
}

.product-box:hover {
    cursor: pointer;
}
