@import "../../../../../../../../variables";

.product-boxes-wrapper {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  .product-box {
    background-color: $off-white;
    max-width: 260px;
    max-height: 300px;
    position: relative;

    .img-container {
      width: 100%;
      height: 100%;
      position: relative;

      .product-discount {
        position: absolute;
        text-transform: uppercase;
        color: white;
        padding: 5px;
        padding-left: 10px;
        background-color: $green;
        box-shadow: 0 1.8px 3.2px rgba(0, 0, 0, 0.1),
          0 1.7px 10.3px rgba(0, 0, 0, 0.065), 0 3.5px 10px rgba(0, 0, 0, 0.05),
          0 7.5px 7px rgba(0, 0, 0, 0.05);
      }

      .new-product {
        position: absolute;
        right: 0;
        background-color: rgb(0, 94, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        box-shadow: 0 1.8px 3.2px rgba(0, 0, 0, 0.1),
          0 1.7px 10.3px rgba(0, 0, 0, 0.065), 0 3.5px 10px rgba(0, 0, 0, 0.05),
          0 7.5px 7px rgba(0, 0, 0, 0.05);
        margin-left: 10px;
        padding: 2px 6px;
        color: white;
      }

      &:hover {
        .popup {
          opacity: 1;
        }
      }

      img {
        width: 100%;
        height: 100%;
      }

      .popup {
        background-color: white;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 100px;
        right: 0px;
        bottom: 20px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;

        .popup-img {
          transition: 0.3s ease-in;
        }

        .popup-img-in-hover {
          display: none;
        }

        &:hover {
          .popup-img {
            display: none;
          }
          .popup-img-in-hover {
            display: block;
          }
        }

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .product-price {
    color: $green;
    font-weight: 600;
    display: flex;
    gap: 10px;
  }

  .old-price {
    color: lightgrey;
    text-decoration: line-through;
  }
}

.product-box:hover {
  cursor: pointer;
}

.pagination-container {
  margin-top: 10%;
  .pagination {
    display: flex;
    gap: 10px;

    li {
      width: 35px;
      height: 35px;
      button {
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: white;
        border: 1px solid #e5e5e5;
        transition: 0.3s ease-out;

        &:hover {
          background-color: $light-green;
        }
      }

      .active {
        background-color: $green;
        color: white;

        &:hover {
          background-color: $green;
        }
      }
    }
  }
}
