@import url(./ProductsPartComponents/ProductsCategories/ProductsCategories.scss);
@import url(./ProductsPartComponents/ProductStock/ProductStockSorting/ProductStockSorting.scss);
@import url(./ProductsPartComponents/ProductStock/ProductStock.scss);
@import url(./ProductsPartComponents/ProductStock/ProductBoxes/ProductBoxes.scss);

.products-wrapper {
  display: flex;
  gap: 50px;
  margin-top: 45px;
}
