@import url(./components/Pages/MainPage/MainPage.scss);
@import "./_variables.scss";
@import url(./components/Pages/MainPage/MainPageComponents/HeroPart/Slider-scss/Slick.scss);
@import url(./components/Pages/MainPage/MainPageComponents/HeroPart/Slider-scss/Slick-theme.scss);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;

  font-family: "Cera Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

ul,
li {
  list-style: none;
}
// * {
//   border: 1px solid;
// }
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

hr {
  border-color: #46a358;
}
